---
import Layout from '../layouts/Layout.astro';
import ModalWindow from '../components/ModalWindow.jsx';
import ModalApp from '../components/ModalApp.jsx';
---

<Layout title="Hess | Guess the Hex-code">
	<header class="flex items-end justify-between p-4 w-full text-[#1E2667]">
        <div class="flex items-center gap-1">
            <i class="ti ti-hexagon-letter-h-filled text-3xl"></i>
            <h1 class="text-3xl font-bold">Hess</h1>
        </div>
        <ModalApp client:load />
        <!-- <a href="https://youtu.be/6cJd7eyYBFs" target="_blank" rel="noopener noreferrer nofollow" class="text-lg" aria-label="Learn about Hexadecimal colors">Don't know about Hex?</a> -->
        <!-- <i class="ti ti-info-hexagon-filled text-3xl"></i> -->
    </header>

    <main class="flex flex-col sm:grid sm:grid-cols-3 justify-center text-[#1E2667] gap-4 sm:gap-0 mb-16 mt-4 sm:my-6 sm:p-4 w-full sm:max-w-[900px]">
        <h2 class="sm:col-span-3 text-xl sm:text-3xl font-semibold text-center text-[#1E2667] mb-2 sm:mb-8">Guess the Hexadecimal code of the colour!</h2>

        <!-- Color to guess -->
        <section class="color-to-guess-square flex flex-col justify-between bg-[#d4e2fd] p-4 gap-4 rounded-2xl shadow-sm shadow-[#1E2667] mx-4">
            <div class="color-to-guess flex flex-col justify-between items-center w-full h-40 sm:h-full rounded-xl shadow-sm shadow-[#1E2667]">
                <p class="color-to-guess-code text-2xl font-semibold"></p>
                <p class="color-to-guess-name text-2xl font-semibold"></p>
            </div>
        </section>

        <!-- Color to check -->
        <section class="options flex flex-col justify-between gap-0 sm:mb-0 mx-4 bg-[#d4e2fd] shadow-sm shadow-[#1E2667] rounded-2xl">
            <div class="bg-transparent p-4 pb-2">
                <div class="color-to-check flex flex-col justify-between items-center bg-white w-full h-40 sm:h-52 shadow-sm shadow-[#1E2667] rounded-xl">
                    <p class="color-to-check-code text-2xl font-semibold"></p>
                    <p class="color-to-check-name text-2xl font-semibold"></p>
                </div>
            </div>
            <!-- <div class="flex items-center gap-2 justify-between bg-[#d4e2fd] rounded-xl border-b-2 border-r-2 border-b-[#1E2667] border-r-[#1E2667]"> -->
            <div class="flex gap-1 justify-between items-center bg-transparent mx-4 mb-1">
                <i class="ti ti-hash flex font-base bg-transparent text-xl"></i>
                <input type="text" maxlength="6" class="guess-input rounded-xl bg-transparent w-full h-full text-xl outline-none" placeholder="Type the hex code">
                <button class="guess-button bg-transparent" aria-label="Chech hex code"><i class="ti ti-square-rounded-arrow-right text-xl"></i></button>
            </div>
        </section>

        <!-- Options -->
        <section class="grid grid-cols-3 sm:grid-cols-6 content-between gap-3 text-base font-semibold mx-4">
            <!-- <div class="col-span-2 sm:col-span-6 bg-[#ACC8FF] p-2 rounded-xl text-center text-xl border-b-2 border-r-2 border-b-[#1E2667] border-r-[#1E2667]"> -->
            <div class="col-span-3 row-span-2 sm:col-span-6 bg-transparent p-1 rounded-xl text-center text-2xl">
                <!-- Accurate percentage <br> -->
                <strong class="percentage-text text-3xl mb-4"></strong> <br>
                <strong class="r-color text-[#A20000] text-xl"></strong><i class="r-symbol text-[#A20000]"></i>
                <strong class="g-color text-[#00A410] text-xl"></strong><i class="g-symbol text-[#00A410]"></i>
                <strong class="b-color text-[#0000A4] text-xl"></strong><i class="b-symbol text-[#0000A4]"></i> <br>
                <span class="message text-xl"></span>
                <!-- What about blue? -->
            </div>
            <div class="see-code flex sm:col-span-3 bg-[#93B8FF] p-2 rounded-xl text-center justify-center items-center cursor-pointer shadow-sm shadow-[#1E2667]">See Hex code <span class="hidden sm:flex"> (S)</span></div>
            <div class="retry flex sm:col-span-3 bg-[#93B8FF] p-2 rounded-xl text-center justify-center items-center cursor-pointer shadow-sm shadow-[#1E2667]">Retry <span class="hidden sm:flex"> (R)</span></div>
            <div class="try-another-color flex sm:col-span-6 bg-[#93B8FF] p-2 rounded-xl text-center justify-center items-center content-center justify-items-center cursor-pointer shadow-sm shadow-[#1E2667]">Change colour <span class="hidden sm:flex"> (T)</span></div>
            <!-- <div class="see-code sm:col-span-3 bg-[#93B8FF] p-2 rounded-xl text-center border-b-2 border-r-2 border-b-[#1E2667] border-r-[#1E2667] cursor-pointer">See Hex code (S)</div>
            <div class="retry sm:col-span-3 bg-[#93B8FF] p-2 rounded-xl text-center border-b-2 border-r-2 border-b-[#1E2667] border-r-[#1E2667] cursor-pointer">Retry (R)</div>
            <div class="try-another-color col-span-2 sm:col-span-6 bg-[#93B8FF] p-2 rounded-xl text-center border-b-2 border-r-2 border-b-[#1E2667] border-r-[#1E2667] justify-center items-center content-center justify-items-center cursor-pointer">Try another colour (T)</div> -->
        </section>
    </main>

    <footer class="flex flex-col text-center sm:flex-row-reverse sm:justify-between items-center sm:items-end gap-2 sm:mx-2 px-2 w-full">
        <a href="https://www.buymeacoffee.com/adechlien" target="_blank" class="flex items-center gap-1 p-2 sm:my-2 pr-5 pl-4 rounded-xl bg-[#93B8FF] shadow-sm shadow-[#1E2667]" aria-label="Buy me a coffee!">
            <img src="buymeacoffee-logo.svg" alt="Buy Me A Coffee" id="bmac">
            <span class="font-semibold">Buy me a coffee!</span>
        </a>

        <p class="text-lg sm:text-xl sm:m-0 leading-6 text-[#0e0e6c]">
            Developed with <i class="ti ti-heart-filled text-base text-[#93B8FF] font-semibold"></i> by <strong>Adechlien</strong>
            <!-- <a href="https://yourfriendlyadc.github.io" rel="noopener" class="text-[#1E2667] font-semibold" target="_blank" aria-label="Go to my portfolio"></a> -->
        </p>
    </footer>
</Layout>
