<footer class='w-full sm:w-72 fixed bottom-0 z-50'>
<div class="flex flex-row text-center justify-between items-center rounded-md gap-2 py-2 px-3 text-ven-5 bg-swamp-3 m-2 sm:mx-0 shadow-xl">
    <!-- <p class="text-base sm:text-lg">
        Developed with <i class="ti ti-heart-filled text-base text-ven-4 font-semibold"></i> by <strong>Adechlien</strong>
    </p> -->
    <p class="text-base">
        0.5.1
    </p>

    <a href="https://www.buymeacoffee.com/adechlien" target="_blank" class="flex items-center gap-1" aria-label="Buy me a coffee!">
        <img src="buymeacoffee-logo.svg" alt="Buy Me A Coffee" id="bmac">
        <span class="font-semibold text-ven-5">Buy me a coffee!</span>
    </a>
</div>
</footer>
