---
import ModalApp from './ModalApp.jsx';
---

<header class='w-full sm:w-96 fixed z-50'>
    <nav class="flex items-center justify-between px-2 py-1 text-ven-5 bg-swamp-3 m-2 sm:mx-0 rounded-md shadow-xl">
        <div class="flex items-center gap-1">
            <i class="ti ti-hexagon-letter-h-filled text-2xl"></i>
            <h1 class="text-xl font-bold">Hess</h1>
            <span>(beta)</span>
        </div>
        <ModalApp client:load />
    </nav>
</header>
